# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\2011-nov9-usf\Project2\Soup-Salad-Sandwich\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
